
.containerPacman, .containerGhost{
    position: absolute;
}

.pacman {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F2D648;
    position: relative;
    margin-top: 20px;
  }
  
  .pacman__eye {
    position: absolute;
    width: 2px;
    height: 3px;
    border-radius: 50%;
    top: 2px;
    right: 4px;
    background: #333333;    
  }
  
  .pacman__mouth {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    border-radius: 100%;
    animation-name: eat;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
  }
  
  .board{
    margin: 0 auto;
    position: relative;    
    width: 560px;
    transform: rotateX(30deg);
  }
  .row{
    height: 20px;
  }
  .square {
    height: 20px;
    width: 20px;
    display: inline-block;
    
}
.square.wall{
    background-color: #4565AA;
}
.square.dot {
    background: #e8da5a;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    margin: 7.5px;
    box-shadow: 0px 5px 5px #1d1c1c;
}
.square.power.dot {
    height: 9px;
    width: 9px;
    background: #FFF;
    margin: 5.5px;
}

.ghost{
    position: relative;
    height: 25px;
    width: 18px;        
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}
.ghost::before, .ghost::after {
    content: "";
    position: absolute;
    background: white;
    height: 7px;
    width: 5px;
    border-radius: 100%;
    top: 3px;
    left: 3px;
}
.ghost::after {
    left: 10px;
}

.ghost .eyes::before, .ghost .eyes::after {
    content: "";
    position: absolute;
    background: #4565AA;
    height: 4px;
    width: 3px;
    border-radius: 100%;
    top: 3px;
    left: 4px;
    z-index: 99;
    animation: peeperLeft 0.7s linear infinite;
}

.ghost .eyes.down::before, .ghost .eyes.down::after{
    top: 7px !important;
}
.ghost .eyes.left::before{
    top: 5px;
    left: 3px;
}
.ghost .eyes.left::after{
    left: 10px;
    top: 5px;
}
.ghost .eyes.right::before{
    top: 5px;
    left: 5px;
}
.ghost .eyes.right::after{
    top: 5px;
    left: 12px;
}
.ghost .eyes::after {
    left: 11px;
    animation: peeperRight 0.7s linear infinite;
}

.skirt, .skirt::before, .skirt::after {
    position: absolute;
    height: 0;
    width: 0;
    border: solid 3px #000;
    border-top-color: transparent;
    bottom: -1px;
    z-index: 1;
}
.skirt::before {
    content: "";
    left: 3px;
    bottom: -3px;
}
.skirt::after {
    content: "";
    left: 9px;
    bottom: -3px;
}
.boardCenteredMsg{
    color: #000;
    font-family: "Major Mono Display", monospace;
    text-transform: lowercase;
    font-weight: 600;
    position: absolute;
    top: calc(50% - 40px);
    left: 67px;
    font-size: 22px;
    background-color: rgba(256,256,0, 0.8);
    padding: 10px;
}

.scoreBoard{
    margin: -40px auto;
    border: 4px solid #FFF;
    position: absolute;
    width: 532px;
    padding: 10px;
    background-color: #FFF;
    bottom: -20px;
}
.hearth{   
    background-color: #e61a1a;
    height: 20px;
    position: relative;
    transform: rotateZ(-45deg);
    width: 20px;
    display: inline-block;
    margin: 10px 10px 0 10px;
}
.hearth:before, .hearth:after {
    background-color: inherit;
    border-radius: 50%;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}
.hearth:before {
    left: 0;
    top: -50%;
}
.hearth:after {
    right: -50%;
    top: 0;
}
  @keyframes eat {
    0% {
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
    25% {
      clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
    }
    50% {
      clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
    }
    75% {
     clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
    }
    100% {
     clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
  }